<div class="form-group">

  <form #eventForm="ngForm" (ngSubmit)="onSubmit()">
    <label for="name">Name</label>
    <input [(ngModel)]="event.title" class="form-control" id="name"
           name="name"
           #titleInput="ngModel" required
           type="text">
    @if (!titleInput.valid && titleInput.touched) {
      <div class="error-message">Acest camp este obligatoriu!</div>
    }
    <label for="description">Description</label>
    <textarea [(ngModel)]="event.description" class="form-control"
              id="description"
              name="description"></textarea>
    <label for="date">Date</label>
    <input [(ngModel)]="event.date" class="form-control" id="date"
           name="date"
           #dateInput="ngModel" required type="date">
    @if (!dateInput.valid && dateInput.touched) {
      <div class="error-message">Acest camp este obligatoriu!</div>
    }
    <label for="time">Time</label>
    <input [(ngModel)]="event.hour" class="form-control" id="hour"
           name="hour"
           #timeInput="ngModel" required type="time">
    @if (!timeInput.valid && timeInput.touched) {
      <div class="error-message">Acest camp este obligatoriu!</div>
    }
    <label for="location">Location</label>
    <input [(ngModel)]="event.location" class="form-control" id="location"
           name="location"
           type="text">
    <label for="submit">Submit</label>
    <button [disabled]="!eventForm.valid" class="md-button" type="submit">Submit</button>
  </form>
</div>
