:host {
  .add-event-container {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }

  .add-event-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .full-width {
    width: 100%;
  }

  .row {
    display: flex;
    gap: 16px;
    width: 100%;
  }

  .col {
    flex: 1;
  }

  mat-dialog-actions {
    padding: 8px 24px;
  }
}
