<h2>Lista Evenimente</h2>

<button (click)="openAddEventDialog()">
  Adaugă Eveniment
</button>


@if (loading) {
  <div>Se incarca...</div>
} @else if (error) {
  <div class="error">{{ error }}</div>
} @else {
  <ul>
    @for (event of events; track event.id; ) {
      <li class="event-item">
        <div>
        <strong>{{ event.title }}</strong> - {{ event.date }} {{ event.hour }} &#64; {{ event.location }}
        <br/>
        {{ event.description }}
        </div>

        <div class="action-buttons">
          <button mat-icon-button color="warn" (click)="deleteEvent(event.id)">
            <mat-icon>Delete</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="openEditDialog(event)">
            <mat-icon>Edit</mat-icon>
          </button>
        </div>
      </li>
    }
  </ul>
}
